{% extends 'base/base.html' %}
{% block content %}
    <div>
        <ol>
            {% for author in authors %}
               <div style="border: 1px solid #333333;margin: 1rem;padding: 0.5rem;display: inline-block;border-radius: 2rem">
                <a href="{% url 'base:about_book' author.id %}">{{ author }}</a><br>
                &nbsp;&nbsp;<br>
            <a href="{% url 'base:author' author.id %}"><img src="{{ author.author_image.url }}" alt=""></a>


            </div>
            {% empty %}
                <p>No Authors</p>
            {% endfor %}

        </ol>

    </div>
{% endblock %}