{% extends 'base/base.html' %}

{% block content %}
  <p>
    <a href="{% url 'base:book_review' book.id %}">REVIEW THIS BOOK</a>&nbsp;&nbsp;
    <a href="{% url 'base:borrow_book' book.id %}">BORROW THIS BOOK</a>&nbsp;&nbsp;<a href="{{ request.META.HTTP_REFERER }}"> BACK </a></p>
    {% if book_rating %}
        <h3>BOOK RATING: {{ book_rating }} STARS</h3>
    {% endif %}
    <div style="border: 1px solid #333333;margin: 1rem;padding: 0.5rem;display: inline-block">
        <a href="{% url 'base:about_book' book.id %}">{{ book.title }}</a><br>
        BY<br>
        {% for author in book.author.all %}
            {{ author }}
        {% endfor %}
        &nbsp;&nbsp;<br>
        <a href="{% url 'base:about_book' book.id %}"><img src="{{ book.book_image.url }}"
                                                                     alt=""></a>

        <br>
        {% if book.summary %}
            {{ book.summary }}
        {% endif %}
    </div>
    {% if  reviews %}

        {% for review in reviews %}
            <div style="border: 1px solid #333333;margin: 1rem;padding: 0.5rem;display: block">
                <p>Reviewed By: <a href="{% url 'users:userProfile' review.owner.id %}">{{ review.owner }}</a></p>
                {{ review.date|timesince }} ago
                <p><b>RATED: {{ review.rating }} stars</b></p>
                {{ review.description|capfirst }} .

            </div>

        {% endfor %}



    {% endif %}
{% endblock %}